.newsletter {
    position: relative;
    width:600px ;
    height: 60px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border: 1px solid black;
    border-radius: 25px;
}

.newsletter>* {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter>label {
    border-radius:  25px 0 0 25px;
    background-color: #003A75;
    color: orangered;
    border: none;
    cursor: pointer;
}

.newsletter>button {
    border-radius:  0 25px 25px 0;
    background-color: #003A75;
    color: orangered;
    border: none;
    cursor: pointer;
}

.newsletter>input {
    border: none;
    background-color: whitesmoke;
}

.newsletter>input:hover {
    background-color: white;
}