

.ProductPage {
    margin-top: 10%;
    position: relative;
    width: 100%;
    align-self: center;
    height: 2500px;
    display: flex;
    flex-direction: column;
}



.ProductPageMain{
    margin-top: 10%;
    position: relative;
    width: 100%;
    height: 100%;
    flex: 30;
    display: grid;
    grid-template-rows: 3fr 8fr 1.5fr;
}

.ProductPageMain>div {
    height: 100%;
    width: 100%;
}

.ProductPageMain > .ProductPageMain_Top {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.ProductPageMain > .ProductPageMain_Top>.ProductPageMain_TopLeft {
    background-size: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
}

.ProductPageMain_TopRight {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.508);
}

.ProductPageMain_Middle {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2% 98%;
}

.ProductPageMain_Middle>.ProductPageMain_MiddleTabs {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductPageMain_Middle>.ProductPageMain_MiddleTabs> ul {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.ProductPageMain_Middle>.ProductPageMain_MiddleTabs> ul>li {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid gray;
    align-items: center;
    justify-content: center;
}

/* .ProductPageMain> */