

.ProductPage {
    margin-top: 10%;
    position: relative;
    width: 100%;
    align-self: center;
    height: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.ProductPageMain{
    margin-top: 10%;
    position: relative;
    width: 100%;
    height: 100%;
    flex: 30;
    display: grid;
    grid-template-rows: 5fr 5fr 2fr 1fr;
}

.ProductPageMain>div {
    align-self: center;
    height: 95%;
    width: 95%;
}

.ProductPageMain > .ProductPageMain_Top {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.ProductPageMain > .ProductPageMain_Top>.ProductPageMain_TopLeft {
    background-size: 100%;
    padding: 5%;
    /* box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858; */
    text-align: center;
    font-size: 1.5rem;
}

.ProductPageMain > .ProductPageMain_Top>.ProductPageMain_TopLeft:hover {
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858;
}

.ProductPageMain_TopRight {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1%;
    color: #003b75;
    color: orangered;
}

.ProductPageMain_TopRight:hover {
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858;
}

.ProductPageMain_TopRight > div  {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ProductPageMain_TopRight > div > h3  {
    position: relative;
    width: 100%;
    height: 100%;
    position: relative;
    color: orange;
}

.ProductPageMain_TopRight > div > p  {
    position: relative;
    width: 100%;
    height: 100%;
    position: relative;
    color: orange;
}

.ProductPageMain_TopRight > div > div  {
    position: relative;
    width: 100%;
    height: 100%;
    position: relative;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ProductPageMain_TopRight > div > div >  select {
    position: relative;
    width: 50%;
    height: 50%;
    background-color: orangered;
    color: orange;
    border-radius: 30px;
    border: none;

}

.ProductPageMain_TopRight > div > div >  select:hover {
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858;
}
    
.ProductPageMain_TopRight > div > div > div  {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    align-items: center;
    justify-content: space-around;
} 


.ProductPageMain_TopRight > div > div > div > button  {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: orangered;
    color: orange;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}

.ProductPageMain_TopRight > div > div > div > button:hover {
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858;
    text-decoration: underline;
    font-size: 1.1rem;
}



.ProductPageMain_Middle {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 95%;
    gap: 1%;
    align-items: center;
}

.ProductPageMain_Middle>.ProductPageMain_MiddleTabs {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductPageMain_Middle>.ProductPageMain_MiddleTabsBody {
    position: relative;
    align-self: center;
    width: 90%;
    height: 100%;
}

/* .ProductPageMain_Middle > div.ProductPageMain_MiddleTabs > ul  */

.ProductPageMain_Middle>.ProductPageMain_MiddleTabs> ul {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ProductPageMain_Middle>.ProductPageMain_MiddleTabs> ul>li {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: orangered;
    color: orange;
    align-items: center;
    justify-content: center;
}

.ProductPageMain_Middle>.ProductPageMain_MiddleTabs> ul>li:hover {
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858;
}

.ProductPageMain  > .ProductPageMain_BottomTabsBody {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%; 
    align-self: center;
}

.ProductPageMain  > .ProductPageMain_BottomTabsBody > h3 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: orangered;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.ProductPageMain  > .ProductPageMain_BottomTabsBody > h3:hover {
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858;
}
/* .ProductPageMain> */