

.ProductTypesFilture{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2% 98%;
}

.ProductFiltureTopSelect{
    position: relative;
    width: 100%;
    height: 100%;
}
.ProductFiltureTopSelect>ul {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.ProductFiltureTopSelect>ul>li {
    position: relative;
    width: 100%;
    height: 100%;
}


.AnotherFilture {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    overflow: scroll;
}


.AnotherFilture>div {
    /* box-shadow: 3px 3px 2px #aeacac, -3px -3px 1px whitesmoke; */
    
}


.FiltureSide{
    flex: 2;
    width: 90%;
    height: 100%;
    padding: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}


/* .FiltureSide>* {
    position: relative;
    width: 100%;
    height: 100%;
} */
.FiltureSide>.filture_typeSelect{
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


.FiltureSide>.filture_typeSelect:hover {
    box-shadow: 5px 5px 11px #737373, -5px -5px 11px #ffffff;
}
.FiltureSide>.filture_typeSelect>button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    color: #FF5F1F;
    border: none;
    
}
.FiltureSide>.filture_typeSelect>button:hover {
    border-bottom: 4px solid #FF5F1F;
    color: #2D2D38;
    /* background-color: #2D2D38;
    color: white; */
    transition: all 0.25s ease-out;
}

.FiltureSide>.filture_filtures{
    background-color: white;
    position: relative;
    margin: 1%;
    width: 100%;
    height: 100%;
    flex: 20;
    display: flex;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 8fr; */

}

.FiltureSide>.filture_filtures>div{
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    /* box-shadow: 3px 3px 2px #aeacac, -3px -3px 1px whitesmoke; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #003b75;
    margin: 1%;
    transition: all 5s ease-in;
}



.FiltureSide>.filture_filtures>div:hover{
    box-shadow: 5px 5px 11px #737373, -5px -5px 11px #ffffff;
    transition: all 1s ease-in;
    color: #FF5F1F;
}



.FiltureSide>.filture_filtures> .f8{
    position: relative;
    width: 100%;
    height: 100%;
    flex: 10;
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 2%;
}

.FiltureSide>.filture_filtures>.filture_filture_f1{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2d2d38;
    color: #FF5F1F;
    text-align: center;
}

.FiltureSide>.filture_filtures>.filture_filture_f1:hover {
    background-color: #2d2d3800;
}

.filture_filture_f1{
    /* position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; */
}

.FiltureSide>.filture_filtures>div.f8>:nth-child(1){
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 2px #aeacac, -3px -3px 1px whitesmoke;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    border-radius: 5px;
}

.FiltureSide>.filture_filtures>div.f8>:nth-child(2){
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 2px #aeacac, -3px -3px 1px whitesmoke;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    border-radius: 5px;
}



.filture_main {
    flex: 10;
    display: grid;
    grid-template-columns: repeat(4,25%);
    box-shadow: 3px 3px 2px #aeacac, -3px -3px 1px whitesmoke; 
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    height: 100%;
    /* padding: 1%; */
}


.filture_main>.Product {
    /* border: 1px solid black; */
    border: none;
    height: 300px;
    width: 100%;
    margin: 1%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    border: none;
    background-repeat: no-repeat;
    background-position: center; 
    transition: all 10s ease-out;
}

.filture_main>.Product > * {
    margin: 0;
}

.filture_main>.Product:hover {
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #ffffff;
    /* color: #003b75; */
    z-index: 50;
    border-radius: 15px;
    transition: all 2s ease-in;
}

.filture_main>.Product>.ProductDetails_top {
    width: 99%;
    height: 15%;
    background-color: #2d2d3800;
    color: whitesmoke;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* padding: 1%; */
    /* margin: 1%; */
}

.filture_main>.Product>.ProductDetails_top>li{
    background-color: #2d2d389d;
    border-radius: 5px;
    height: 50%;
    width: 100%;
    text-align: center;
    display: flex;
    font-family: 'Edu QLD Beginner', cursive;
}

/* font-family: 'Abril Fatface', cursive;
font-family: 'Bangers', cursive;
font-family: 'Courgette', cursive;
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Square Peg', cursive; */

.filture_main>.Product>.ProductDetails_top>li:hover{
    /* background-color: #003b75; */
}

.filture_main>.Product>.ProductDetails_top>:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80%;
    width: 100%;
    border-radius: 30px;
    border: none;
    flex: 1;

}

.filture_main>.Product>.ProductDetails_top>:nth-child(1):hover{
    /* border: 1px solid #ff5f1f; */
}
.filture_main>.Product>.ProductDetails_top>:nth-child(2){
    background-color: #2d2d3800;
    color: orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
    flex: 9;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* border:1px solid #2d2d38; */
    transition: all 10s ease-out;
}
/* 
.filture_main>.Product>.ProductDetails_top>:nth-child(2)>span {

} */

.filture_main>.Product>.ProductDetails_top>:nth-child(2):hover{
    transition: all 1s ease-in;
}


.filture_main>.Product>.ProductDetails_top>.productOwner{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
} 

.filture_main>.Product>.ProductImage{
    margin: 0;
    padding: 0;
    position: relative;
    width: 99%;
    height: 20px;
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: bold;
    font-size: 3rem;
    color: rgba(245, 245, 245, 0.312);
    opacity: 0.2;
    cursor: pointer;
    border-radius: 5px;
    transition: all 15s ease-out;
    font-family: 'Edu QLD Beginner', cursive;
}

.filture_main>.Product>.ProductImage:hover {
    background-color: #303037b5;
    color: #ff5f1f;
    opacity: 1;
    transition: all 2s ease-in;
}

.Product>.ProductImage> .ProductImageLink {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}




.filture_main>.Product>.ProductDetails_bottom {
    position: relative;
    background-color: #003b7500;
    opacity: 0.9;
    color: white;
    flex: 6;
    height: 100%;
    width: 99%;
    display: flex;
    /* border-bottom: 1px solid black; */
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    /* margin: 1%; */
    
}

.filture_main>.Product>.ProductDetails_bottom>li{
    background-color: #30303700;
    color: red;
    position: relative;
    height: 90%;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    transition: all 10s ease-out;
}

.filture_main>.Product>.ProductDetails_bottom:nth-child(1){
  flex: 1;
}

.filture_main>.Product>.ProductDetails_bottom:nth-child(2){
    flex: 20;
  }

  .filture_main>.Product>.ProductDetails_bottom:nth-child(3){
    flex: 2;
  }

.filture_main>.Product>.ProductDetails_bottom>li:hover{
    background-color: #1a1a28;
    border-radius: 15px;
    /* color: white; */
    /* border:1px solid orangered; */
    transition: all 1s ease-in;
    /* border: 1px solid #003b75; */
}
