


.CartPage {
    margin-top: 7.5%;
    background-color: whitesmoke;
    position: relative;
    height: 1000px;
    width: 100%;
    justify-content: center;
    overflow: none;
    align-items: center;
    transition: all 5s ease-out;
    display: grid;
    grid-template-rows: 2fr 5fr  2fr ;
}

.CheckoutProcessNavigator {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    overflow: none;
    align-items: center;
    justify-content: center;
    
}

.CheckoutProcessNavigator:hover {
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858;
}

.CheckoutProcessNavigator > span {
    position: relative;
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
}
.CheckoutProcessNavigator > .span_center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.CheckoutProcessNavigator > .span_center:hover {

}

/* button {
    position: relative;
    background-color:  whitesmoke;
    color: orange;
    width: 100%;
    height: 30%;
    border-radius: 25px;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1%;
}

button:hover {
    font-weight: bolder;
    background-color: orangered;
    border-radius: 35px;
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858;
} */

.CheckoutProcessNavigator > .span_center > button {
    position: relative;
    background-color:  whitesmoke;
    color: orange;
    width: 100%;
    height: 30%;
    border-radius: 25px;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1%;
}
.CheckoutProcessNavigator > .span_center > span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 30%;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.CheckoutProcessNavigator > .span_center > span:hover {
    /* background-color: orangered;
    color: white;
    border-radius: 35px;
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858; */

}
.CheckoutProcessNavigator > .span_center > button:hover {
    font-weight: bolder;
    background-color: orangered;
    border-radius: 35px;
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858;
}

.CartPageMain {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 66% 29%;
    gap: 2%;
    align-items: center;
    justify-content: center;
}

.CartPageMain> .cartCenter {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 1%;
    overflow-y: scroll;
}

.CartPageMain> .cartCenter > .CartItem {
    /* border-top: 1px solid; */
    position: relative;
    width: 95%;
    height: 200px;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.CartPageMain> .cartCenter > .CartItem:hover {
    box-shadow: 2px 2px 5px #737373, -2px -2px 6px #585858;
}

.CartPageMain> .cartCenter > img {
    position: relative;
    width: 100%;
    height: 100%;
}

.CartPageMain> .cartCenter > .CartItem_details {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

 .CartItem_details > .CartItem_details_top {
    position: relative;
    /* width: 100%;
    height: 100%; */
    display: grid;
    grid-template-columns: 4fr 1fr;
}


.CartItem_details > .CartItem_details_body {
    position: relative;
    /* width: 100%;
    height: 100%; */
}

.CartPageMain > :nth-child(2){
    /* box-shadow: 5px 5px 11px #737373, -5px -5px 11px #ffffff; */
    cursor: pointer;
}

.CartPageMain > :nth-child(2):hover{
    box-shadow: 5px 5px 11px #737373, -5px -5px 11px #ffffff;
}


.morph_el {

    transition: all 2.5s ease-out;
}

.morph_el:hover {
    background: linear-gradient(145deg, #f0f0f0, white);
    box-shadow:  2px 2px 9px whitesmoke,
    -2px -2px 9px #ffffff;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

.CartPageMain > .cartRight {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 3fr 4fr 5fr;
}

.CartPageMain > .cartRight > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.CartPageMain > .cartRight > :nth-child(1) {
    position: relative;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.CartPageMain > .cartRight > :nth-child(1) > button {
    height: 90%;
    width: 50%;
    background-color: orangered;
    color: white;
    font-weight: bolder;
    cursor: pointer;

    border: none;
    border-radius: 30px;
}

.CartPageMain > .cartRight > :nth-child(1) > button:hover {
    box-shadow: 1px 1px 3px #737373, -1px -1px 3px #585858;
}

.CartPageMain > .cartRight > :nth-child(2) {
    position: relative;
    display: grid;
    grid-template-rows: 70% 30%;
    align-items: center;
}


.CartPageMain > .cartRight > :nth-child(2) >input {
    position: relative;
    width: 100%;
    height: 80%;
    border-radius: 30px;
    box-shadow: 1px 1px 3px #737373, -1px -1px 3px #585858;
    border: none;    
}

.CartPageMain > .cartRight > :nth-child(2) > button {
    position: relative;
    width: 50%;
    height: 80%;
    border-radius: 30px;
    align-self: center;

    border: none;  
    background-color: orangered;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.CartPageMain > .cartRight > :nth-child(2) > button:hover {
    box-shadow: 1px 1px 3px #737373, -1px -1px 3px #585858;
}

.CartPageMain > .cartRight > :nth-child(3) {
    display: grid;
    grid-template-rows: 5% 95%;
    align-items: center;
    padding: 1%;
}

.CartPageMain > .cartRight > :nth-child(3) > label {
    position: relative;
    width: 100%;
    height: 100%;
}


.CartPageMain > .cartRight > :nth-child(3) > input {
    position: relative;
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 5px;
}

.CartPageMain > .cartRight > :nth-child(3) > input:hover {
    box-shadow: 1px 1px 3px #737373, -1px -1px 3px #585858;
}

/* .CartPageMain > .cartRight > :nth-child(4) {
    position: relative;
    width: 100%;
    height: 100%;
} */

.CartPageMain > .cartRight > :nth-child(5) {
    position: relative;
    width: 100%;
    height: 100%;
}

.CartPageMain > .cartRight > :nth-child(6) {
    position: relative;
    width: 100%;
    height: 100%;
}