

.Footer {
    position: relative;
    bottom: 0;
    background-color: white;
    display: grid;
    color: orangered;
    grid-template-columns: repeat(4,1fr);
    gap: 0.1%;
    height: 500px;
    width: 100%;
    margin: 0;
    /* flex: 4; */
    z-index: 20001;
}

.Footer>div {
    position: relative;

    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    display: grid;
    transition: all 10s ease-out;

}

Footer >.footer_left > div > span > a {
    font-family: 'Edu QLD Beginner', cursive;
}

.Footer>div:hover {
    background-color: #F2D2BD;
    box-shadow: 1px 1px 3px #dedede, -1px -1px 3px #ffffff5e; 
    color: #003A75;
    transition: all 1s ease-in;
}

.footer_left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer>div> h3 {

}

.Footer>div> div {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.Footer>div> div> span {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer>div> div> span> a {
    position: relative;
    height: 60%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.705); */
    border-radius: 115px;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}