

.Footer {
    position: relative;
    bottom: 0;
    background-color: whitesmoke;
    display: grid;
    color: orangered;
    grid-template-columns: repeat(4,1fr);
    height: 100%;
    width: 100%;
    margin: 0;
    flex: 1;
    z-index: 1000;
}

.Footer>div {
    position: relative;
    background: linear-gradient(225deg, #ffffff, #e1e1e1);
    box-shadow:  -8px 8px 25px #e9e9e9,
                 8px -8px 25px #ffffff;
    height: 100%;
    width: 100%;
    display: grid;
    transition: all 10s ease-out;
    padding: 1%;


}
#root > div > div.Footer > div:nth-child(3) > div > span:nth-child(1) > a
Footer >.footer_left > div > span > a {
    /* font-family: 'Edu QLD Beginner', cursive; */
}

Footer >.footer_left > div > span > a:hover {
    background-color: white;
}

.Footer>div:hover {
    background: linear-gradient(225deg, #ebe8e8, #ffffff);
box-shadow:  -8px 8px 25px #e9e9e9,
             8px -8px 25px #ffffff;
    transition: all 1s ease-in;
}

.footer_left {
    /* position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.footer_center {
    /* position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.footer_right {
    /* position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.Footer>div> h3 {
    background-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.Footer>div> div {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer_left1 >div> div> span {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/* #root > div > div.Footer > div.footer_left1 > div > span:nth-child(3) */

.footer_left1 >div> div> span> a > h3 {
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer_left1 >div> div> span> a > a {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}


.footer_left1 > div > span > a {
    position: relative;
    height: 100%;
    width: 100%;
    align-self: center;
    display: flex;
    
}


.footer_right2 > div > span:nth-child(4) > span:nth-child(2) > img {
    position: relative;
    height: 20px;
    width: 20px;
}


/* .Footer>div> div> span> a {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
} */

.Footer > div > div > span > a {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Open Sans,Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    display: flex;
}

.Footer>div> div> span> a > a {
    position: relative;
    width: 100%;
    height: 100%;
        font-family: Open Sans,Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.Footer>div> div> span> a > h5 {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Open Sans,Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.Footer>div> div> span> a:hover {
    background-color: white;
    color: orangered;
}