

.Footer {
    position: relative;
    background-color: #003A75;
    display: flex;
    color: white;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    height: 300px;
    width: 100%;
}

.Footer>div {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5%;
}