

.Main{
    position: relative;
    top: 3%;
    background-color: white;
    width: 100%;
    height: 4000px;
    display: flex;
    align-self: center;
    justify-content: center;
    flex: 30;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;  
}



.Main>* {
    margin: 1%;
    overflow: hidden;
    border: none;
    /* box-shadow: 5px 5px 4px #aeacac, -5px -5px 4px #ffffff; */
}

.Main>.mainSub_1{
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 4;
}
.Main>.mainSub_2{
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 2;
    overflow: hidden;
}
.Main>.mainSub_3{
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 3;
}
.Main>.mainSub_4{
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 2;
}
.Main>.mainSub_5{
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 1;
}
.Main>.mainSub_6{
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 8;
}
.Main>.mainSub_7{
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Main>.mainSub_8{
    background-color: white;
    padding: 1%;
    margin: 0;
    margin-bottom: 2%;
    width: 100%;
    height: 100%;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;  
}




/* .Main>.mainSub_8:before,
.Main>.mainSub_8:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}  */
