

.Main{
    position: relative;
    background-color: white;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    overflow: none;
}

.Main>.socials_tab{
    position: fixed;
    background-color: rgba(255, 255, 0, 0);
    z-index: 2000;
    width: 60px;
    height: 180px;
    margin: 0;
    top: 50%;
    right: 0.1%;
    display: flex;
    gap: 1%;
    flex-direction: column;
}

.Main>.socials_tab>div {    
    /* background-color: rgb(255, 255, 0); */
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none; 
    margin-right: 2%;
    transition: all 10s ease-out;
}

.Main>.socials_tab>div:hover{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px #080707, -1px -1px 3px #ffffff5e;
    transition: all 2s ease-in;
}


.Main>* {
    position: relative;
    margin: 0%;
    overflow: hidden;
    border: none;
}

.Main>.mainSub_1{
    position: relative;
    background-color: white;
    width: 90%;
    align-self: center;
    height: 100%;
    flex: 0.7;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-content: space-around;
    gap: 1%;
    margin: 0 1% 0 1%;
}

.Main>.mainSub_1> .citisliderr {
    position: relative;
    width: 100%;
    height: 100%;
}

.Main>.mainSub_1> .logins {
    box-shadow: 5px 5px 11px gray, -5px -5px 11px  whitesmoke;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 70%;
    gap: 1%;
}

.Main>.mainSub_1> .logins>div {
    width: 100%;
    height: 100%;
    background-color: #F2D2BD;
    box-shadow: 5px 5px 11px gray, -5px -5px 11px  whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center
}

.Main>.mainSub_1> .logins>:nth-child(2) {
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.79);
    box-shadow: 5px 5px 11px gray, -5px -5px 11px  whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center
}

.Main>.mainSub_1> .logins>div > .Login_options {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Main>.mainSub_1> .logins>div > .Login_options > a {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    margin: 1%;
}

.Main>.mainSub_1> .logins>div > .Login_options > .SignIn {
    background-color:orangered;
    color: white;
}

.Main>.mainSub_1> .logins>div > .Login_options > .JoinUs {
    background-color:whitesmoke;
    color: orangered;
}

.Main>.mainSub_2{
    position: relative;
    background-color: white;
    width: 90%;
    align-self: center;
    height: 100%;
    flex: 0.5;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 1%;
    padding: 1%;
}

.Main>.mainSub_2_2{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 0.5;
    gap: 1%;
}

.Main>.mainSub_3{
    position: relative;
    background-color: white;
    width: 95%;
    align-self: center;
    height: 100%;
    flex: 0.5;
}

.Main>.mainSub_3_3_1 {
    position: relative;
    background-color: white;
    width: 90%;
    height: 100%;
    flex: 0.75;
    /* display: grid;
    grid-template-rows: 1fr 4fr; */
} 

.Main>.mainSub_3_3_1>.MostLovedCarouselTop {
     position: relative;
    background-color: whitesmoke;
} 

.Main>.mainSub_3_3_2 {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 1;
} 

.Main>.mainSub_3_3_2>.NewArrivalsCarouselTop{
    background-color: whitesmoke;
}



.Main>.mainSub_5{
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 0.5;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1%;
}


.Main>.mainSub_6{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 1%;
    flex:2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainSub_6_5 {
    position: relative;
    width: 100%;
    height: 100%;
    flex:0.5;
    align-items: center;
    justify-content: center;
}

.Main>.mainSub_4{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 2;
}
.Main>.mainSub_6>.StoreFiltureTop{
    background-color: whitesmoke;
}




.Main>.mainSub_6_6 {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    align-self: center;
    flex: 0.5;
    padding: 1%;
} 


.Main>.mainSub_6_6>.TopCategoriesTop{
    background-color: #F2D2BD;
}

.Main>.mainSub_7{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}


.Main>.mainSub_8{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 0.5;
}

.Main>.mainSub_8>.bottomMain {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.bottomMainTop{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.bottomMainTop>div{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 3px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 0.1%;
    z-index: 2;
    color: orangered;
    transition: all 10s ease-out;
}

.bottomMainTop>div>span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}


.bottomMainTop>div:hover{
    box-shadow: 5px 5px 11px gray, -5px -5px 11px  whitesmoke;
    z-index: 50;
    background-color: white;
    color: #003A75;
    transition: all 0.1s ease-in;
}


.bottomMainBottom {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 3px #dedede, -1px -1px 3px #ffffff5e; 
    z-index: 50;
    transition: all 0.1s ease-in;
}

.bottomMainBottom>div{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px #dedede, -1px -1px 3px #ffffff5e;
    color: orangered;
    margin: 0.1%;
    z-index: 2;

}

.bottomMainBottom>div:hover {
    background-color: white;
    color: #003A75;
    
}

/* .pulse {
    animation: pulse 3s infinite;
  } */
  


.bottomMainBottom>div>span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.bottomMainBottom>div>span:hover{
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
      font-variation-settings: 'wght' 100;
    }
    50% {
      font-variation-settings: 'wght' 700;
    }
    100% {
      font-variation-settings: 'wght' 100;
    }
  }


.curved_borderTop {
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 12px ;
    transition: all 12s ease-out;
}

.curved_borderTop:hover {
    border: 2px solid orangered;
    border-radius: 12px ;
    background-color: white;
    transition: all 0.4s ease-in;
}