

.Navbar {
    background-color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
    opacity: 0.97;
    height: 150px;
    box-shadow: 5px 5px 11px #737373, -5px -5px 11px #ffffff;
    /* box-shadow: 1px 1px 2px #d0cbcb, -1px -1px 2px #ffffff; */
    /* text-shadow: 5px 5px 4px #d0cbcb, -5px -5px 4px #ffffff; */
}
.Navbar:hover{
  opacity: 0.99;
}

H1,H2:hover,H3:hover,li:hover{
    text-shadow:  1px 1px 2px #d0cbcb, -1px -1px 2px #003A75;
}


img:hover {
  border: 0.5px solid orangered;
  border-radius: 2px;
}