

.Navbar {
    flex: 1;
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 4px #d0cbcb, -5px -5px 4px #ffffff;
    /* text-shadow: 5px 5px 4px #d0cbcb, -5px -5px 4px #ffffff; */
}

.Navbar:hover{
    text-shadow: 5px 5px 4px #d0cbcb, -5px -5px 4px #ffffff;
}