

.bannerbar{
    background-color: #F2D2BD;
    color: orangered;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #FFBB2B */
/* #ff6a14 */
/*neon orange for texts #C70039  */
/* #003A75 */

.bannerbar>ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

.bannerbar>ul>li {
    width: 100%;
    height: 100%;
    padding: 0.1%;
    color: orangered;
    /* flex: 1; */
}
.bannerbar>ul>li:hover {
    color: #003A75;
    transition: all 1s ease-in;
}

.bannerbar>ul>.bb_li_4 {
    flex: 4;
}
/* bb_li_4 */


/* bb_li_1 */