@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');


.my_div1 {
    position: relative;
    margin: 0;
    display: grid;
    grid-template-rows: 70% 30%;
    /* gap: 1%; */
    height: 100%;
    width: 100%;
}



.my_div1_upper {
    background-color: white;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

.image_holder {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    border-radius: 15px;
}
.image_holder>.image_holderLink {
    position: relative;
    height: 100% ;
    width: 90%;
}

.image_holder>.image_holderLink>img {
    position: relative;
    height: 100% ;
    width: 90%;
}



.search_holder {
    /* background-color: yellow; */
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.search_main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 15PX;
    /* border-radius: 0 0 5px 5px; */
    /* border: 2px solid #06265f; */
}

.search_main:hover {
    /* border: 2px solid #0B79BF; */
}

.right_holder {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Courgette', cursive;
}
/* font-family: 'Abril Fatface', cursive;
font-family: 'Bangers', cursive;
font-family: 'Courgette', cursive;
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Square Peg', cursive; */
.right_holder>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
}

.right_holder>ul>li {
    color:  #ff5f1fb4;
    transition: all 0.25s ease-in ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.right_holder>ul>li:hover {
    color:  #FF5F1F;
    transition: all 0.25s ease-in ;
    cursor: pointer;
    border-radius: 50%;
}

.right_holder>ul>.li_r_3{
    /* background-color: #003A75; */
    border-radius: 15px;
}

/* #FFBB2B */
._color_orange{
    color: #FF5F1F;

}

.text_color {
    color: #003A75;
}

.text_color:hover {
    color: #FF5F1F;
}

.material-symbols-outlined {
    color: #003b75b5;
    transition: all 2s ease-out;
}

.material-symbols-outlined:hover {
    color: #FF5F1F;
}


li,i,span {
    cursor: pointer;
}
.color_orange:hover {
    color: #FF5F1F;
    background-color: #003A75;
    border-radius: 50%;
    height: 100%;
    padding: 2px;
}

.color_orange:hover {
    color: #FF5F1F;
}

.bg_color_orange {
    color: #FF5F1F;
}



.right_holder>ul>.li_r_3>.cart_count{
    background-color: #FF5F1F;
    color: #003A75;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 15px;
    width: 30%;
    bottom: 0px;
}

.right_holder>ul>.li_r_3>.cart_count:hover {
    background-color:  #003A75;
    color:#FF5F1F;
}


div>ul>li>Link>span {
        color: #003A75;
}

.my_div1_lower {
    position: relative;
    padding: 0;
    margin-top: 0.1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: #F2D2BD; */
}

.my_div1_lower>.categories_sect {
    background-color: #F2D2BD;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 2px;
    flex: 1;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 15px;
}
.my_div1_lower>.categories_sect:hover {
    /* border: 1px solid  #003A75; */
    transition: all 0.25s ease-in-out;
    color: #FF5F1F;
    box-shadow: 3px 3px 6px #737373, -3px -3px 6px #ffffff;
    
}

.my_div1_lower>.link_sect {
    flex: 12;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


.my_div1_lower>.link_sect>ul {
    /* background-color: #003A75; */
    background-color: rgba(245, 245, 245, 0);
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}
 
.my_div1_lower>.link_sect>ul>li {
    background-color: rgba(245, 245, 245, 0.65) ;
    /* color: #FF5733; */
    color: #003b75bb;

    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
    margin: 2px;
    font-family: 'Fredoka One', cursive;
    transition: all 5s ease-in ;
}

.my_div1_lower>.link_sect>ul>li>a {
    font-family: 'Fredoka One', cursive;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items:center ;
    justify-content: center;
}

.my_div1_lower>.link_sect>ul>li>a>select {
    background-color: #F2D2BD;
    border: none;
    border-radius: 30px;
    margin: 1%;
    width: 100%;
    height: 100%;
    text-align: center;
}
/* font-family: 'Abril Fatface', cursive;
font-family: 'Bangers', cursive;
font-family: 'Courgette', cursive;
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Square Peg', cursive; */
.my_div1_lower>.link_sect>ul>li:hover {
    background-color: rgba(255, 255, 255, 0.919);
    /* color: #FF5F1F; */
    color: #003b75bb;

    /* border:1px solid #FF5733; */
    box-shadow: 1px 1px 3px #737373, -1px -1px 3px #ffffff;
    transition: all 0.5s ease-in ;
}

.my_div1_lower>.link_sect>ul>li>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #003A75;
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
}

.my_div1_lower>.link_sect>ul>li>select:hover {
    color:  #FF5F1F;
    background-color: #003A75;
    border: 1px solid #ff6a1497;
    box-shadow: 2px 2px 1px #FF5F1F, -2px -2px 1px #ffffff;
    transition: all 0.25s ease-in ;
}


.my_div1_lower>.link_sect>ul>li>select>option {
    color:  #FF5F1F;
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
}


