

.search_bar {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
    background-color: gainsboro;
    border-radius: 25px;
    border: none;
}

.search_btn {
    color: #003A75;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_btn::before {
    color: #003A75;
    height: 50%;
    flex: 1;
    border-radius: 15px;
}

.search_btn>i {
    color: #003A75;
    height: 80%;
    flex: 1;
    border-radius: 15px;
}

.search_btn>i:hover {
    color: orangered;
    width: 100%;
    height: 80%;
}


.search_textfeald {
    background-color: whitesmoke ;
    color: #003A75;
    height: 100%;
    flex: 5;
    border: none;
}

.search_textfeald>label {

    color: #003A75;
    height: 50%;
    flex: 2;

}



.search_select,.search_select>* {
    color: #003A75;
    height: 50%;
}
/* search_btn
search_textfeald
search_select */